@(widgets: Seq[Widget], form: Form[WidgetForm.Data], postUrl: Call, res: Seq[String])(implicit request: MessagesRequestHeader)

  @main("Widgets") {

    <h1>Application Executor</h1>

   

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.input(form("input")){ (id, name,size,value) =>
      	@if(widgets.isEmpty){
      		<input type="text" id="input" name="input" size="70" value="/Users/rhuang/Documents/Dropbox_1/TACC/PLAY/run_pi.sh"/>
      	}else{
      	    <input type="text" id="input" name="input" size="70" value="@widgets.last.input_dir"/>
      	}	
      }

      @helper.input(form("output")){ (id, name,size,value) =>
        @if(widgets.isEmpty){
      	<input type="text" id="ouput" name="output" size="70" value="/Users/rhuang/Documents/Dropbox_1/TACC/PLAY/pi.out"/>
      	}else{
      	<input type="text" id="ouput" name="output" size="70" value="@widgets.last.output_dir"/>
      	}
      }
      
      <button>Run Application</button>
    }
    
    <hr/>
    
    <table>
      <thead>
        <tr><th>Input Directory</th><th>Output Directory</th>
      </thead>
      <tbody>
      @if(!widgets.isEmpty){
	      @for(w <- widgets) {
	        <tr><td>@w.input_dir</td><td>@w.output_dir</td></tr>
	      }
      }

      </tbody>
    </table>

    <hr/>
    
    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }
    
    
     <table>
      <thead>
        <tr><th>Results</th>
      </thead>
      <tbody>
      @for(r <- res) {
        <tr><td>@r</td></tr>
      }
      </tbody>
    </table>

  }