@(name:String)

@main("Welcome to Play") {

   
<div>
    <ul>
        <li>Please go to <a href="@routes.ZeppelinController.index">@routes.ZeppelinController.index</a></li>       
    </ul>

</div>

<div>
    <ul>
        <li>Please go to <a href="@routes.ApplicationController.listWidgets">@routes.ApplicationController.listWidgets</a></li>       
    </ul>

</div>






   

<h1>The XMLHttpRequest Object</h1>
<button type="button" onclick="loadDoc()">Change Content 1</button>
</div>

<p>
<div id="demo"> AAA </div>
</p>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "/test1", true);
  xhttp.send();
}
</script>

<button type="button" onclick="loadDoc1()">Change Content 2</button>
</div>

<p>
<div id="demo1"> BBB </div>
</p>

<script>
function loadDoc1() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo1").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "/test2", true);
  xhttp.send();
}
</script>




  
  <form action="/test3" method="get">
      <p>
  		<div id="demo3"> "@routes.HomeController.test3" </div>
  	  </p>
    <input type="submit" value="test">
  </form>


  
}
